<script type="text/javascript" src="public/js/common.js"></script>
<script type="text/javascript" src="public/js/ajaxObjPrototype.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/main.css">



<div class=box>
	<h1>用户签到表</h1>
	<div class='info'>
		请选择日期
		<select id=year>
			<!--option value=2015>2015</option-->
		</select>
		<span>年</span>
		
		<select id=month>
			<!--option value=12>12</option>
			<option value=11>11</option-->
		</select>
		<span>月</span>
		
		<select id=date>
			<!--option value=12>12</option>
			<option value=11>11</option-->
		</select>
		<span>日</span>
		&nbsp;
		<input type='button' id='btn1' value='确定'>
	</div>
	
	<div class='info'>
		<b>日期:</b>
		<span id=curent></span>
		<table id='signTable'  border='1'>
		</table>
	</div>
</div>


<style>
.info{margin:10px 0;}
.info select{width:60px;}

/*
http://www.laozuo.org/4631.html
*/
.info table {
	border-bottom: 1px solid rgb(230, 189, 189);
	border-collapse: collapse;
}
/* Border styles */
.info table  thead, .info table  tr {border: 1px solid #ccc;}

/* Padding and font style */
.info table  td, .info table  th {
	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
}

/* Alternating background colors */
.info table  tr:nth-child(even) {background: rgba(239, 239, 239,0.5)}
.info table  tr:nth-child(even):hover{background: rgba(239, 239, 239,0.9)}

.info table  tr:nth-child(odd) {background: #FFF;}
.info table  tr:nth-child(odd):hover{background: rgba(239, 239, 239,0.1);}

</style>

<script>
//myAddEvent(obj,ev,fn);绑定事件
//年月日
myAddEvent(window,'load',initCalendar);

//日历控件
function initCalendar(){
	var d=new Date();
	//年:提供最近10年记录
	var year=d.getFullYear();
	var oYear=$('year');
	for(var i=10;i>0;i--){
		var oP=document.createElement('option');
		oP.setAttribute('value',year);
		oP.innerHTML=year--;
		oYear.appendChild(oP);
		//<option value=2015>2015</option>
	}
	//月:提供12个月
	var month=d.getMonth()+1;
	var oMonth=$('month');
	for(var i=12;i>0;i--){
		var oP=document.createElement('option');
		oP.setAttribute('value',i);
		if(month==i){
			oP.setAttribute('selected','selected');
		}
		
		oP.innerHTML=i;
		oMonth.appendChild(oP);
		//<option value=12>12</option>
	}
	
	//日:提供12个月的天数
	var date=d.getDate();
	var oDay=$('date');
	//12个月的天数
	var days=[0,31,28,31,30,31,30,31,31,30,31,30,31];
	//  days=[0, 1 , 2, 3, 4, 5, 6, 7, 8, 9,10,11,12];
	//是否闰年
	function isRunNian(year){
		if(year%100==0){
			return year%400==0?true:false;
		}else{
			return year%4==0?true:false;
		}
	}
	//二月的天数
	if(isRunNian(year)){
		days[2]=29;
	}
	//显示天数
	var dayOfMonth=days[$('month').value];
	for(var i=0;i<=dayOfMonth;i++){
		var oP=document.createElement('option');
		oP.setAttribute('value',i);
		if(date==i){
			oP.setAttribute('selected','selected');
		}
		oP.innerHTML=i;
		oDay.appendChild(oP);
		//<option value=12>12</option>
	}
	
	//日期变为2位数字
	function twoChar(num){
		return num<10?'0'+num:num;
	}
	
	//单击事件提交当前按钮的ajax请求
	$('btn1').onclick=refreshSignTable;
	//直接执行刷新签到表
	refreshSignTable();
	
	//刷新签到表 函数
	function refreshSignTable(){
		//
		var year=$('year').value;
		var month=$('month').value;
		var date=$('date').value;
		var str=year+twoChar(month)+twoChar(date);
		//更新日期
		$('curent').innerHTML=str;
		//发送ajax请求
		var ajax=new Ajax();
		var url='adminAction.php?a=signListByDate';
		var para='&send=signListByDateSend&date='+str;
		ajax.post(url,para,function(s){
			var data=getJson(s);
			initSignTable(data);		
		});
	}
}
	
	

	



//签到表初始化
function initSignTable(data){	
	//Object {id: "18", usr: "jim", date: "20151223", add_time: "2015-12-23 09:51:34", status: "今天在岗"}
	var oParent=$('signTable');
	oParent.innerHTML='';
	//表头
	var oTr=document.createElement('tr');
	oTr.innerHTML='<th>用户名</th>	<th>签到时间</th>	<th>今天状态</th>';
	oParent.appendChild(oTr);
	//如果没有数据
	if(data.length==0){
		var oTr2=document.createElement('tr');
		oTr2.innerHTML='<td colspan=3><b style="color:red">暂时没有数据。请尝试其他日期。</b></td>';
		oParent.appendChild(oTr2);
		return;
	}
	//否则，获取dom
	for(var i=0;i<data.length;i++){
		var oTrn=getDomOtr(data[i],i%2);
		//插入dom树
		oParent.appendChild(oTrn);
	}
	
	
	//获取dom结构
	function getDomOtr(obj,isEven){
		var isEven=isEven||false;
		
		var oTr=document.createElement('tr');
		if(isEven){
			oTr.setAttribute('class','even');
		}
		//用户信息
		var usrDom="<a href='admin.php?a=fee&u="+obj['usr']+"' target='_blank'>"+obj['usr']+"</a>";
		var statusDom=obj['status'];
		if(obj['status']=='今天出差'){
			statusDom="<a href='admin.php?a=fee&u="+obj['usr']+"' target='_blank'>"+obj['status']+"</a>";
		}
		oTr.innerHTML='<td>'+ usrDom+'</td>	<td>'+obj['add_time']+'</td>	<td>'+ statusDom +'</td>';
		//返回dom
		return oTr;
	}
	
	
	
	
	
}
</script>