<script type="text/javascript" src="public/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/main.css">

<div class='info' id=containner>
	
	<!--div class=box>
		<p>status</p>
		<ul>
			<li><b>key</b><span>value</span><span>value</span></li>
		</ul>
	</div>
	
	<div class=box>
		<p>money</p>
		<ul>
			<li><b>key</b><span>value</span></li>
			<li><b>key</b><span>value</span><span>value</span></li>
			<li><b>key</b><span>value</span></li>
		</ul>
	</div-->
</div>
<script>
window.onload=function(){
	//
	var oParent=$('containner');
	show(data,oParent);
}

</script>