<!--头部-->
<?php include('header.html');?>

<!--主体-->
<div class=main>
	<!--左边目录-->
	<?php include('leftMenu.html');?>
	
	<div class=right>
		<?php 
			//拼装地址,并打印
			$filepath= 'data/' . $keyword . '/' . $id . '.html';
			echo '<p class="filepath">file name: ' .$filepath . '</p>';
			//拼装图片文件夹
			$picturePath='data/' . $keyword . '/';

			//包含文章视图文件
			if(file_exists($filepath)){
				include($filepath);
			}else{
				echo '<div class=alert>还在紧张制作中，请稍后再来...</div>';
			} 
		
		?>
	</div>
</div>

<div class=clear></div>



<!--尾部-->
<?php include('footer.html');?>
