html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
}

fieldset,img,a img,iframe,html,body {
	border: 0;
}

li {
	list-style: none;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,em {
	font-size: 100%;
	font-weight: normal;
}

b,strong {
	font-style: normal;
	font-size: 100%;
	font-weight: bold;
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

del,ins {
	text-decoration: none;
}[hidefocus] {
	outline: 0;
}

textarea,input,button,select {
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font-family: inherit;
	outline: 0;
}

textarea {
	overflow: auto;
	resize: none;
}

body {
	word-wrap: break-word;
	font: 12px/20px "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Î¢ÈíÑÅºÚ",tahoma,arial,simsun,"ËÎÌå";
	color: #666;
}

textarea,input,select {
	font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Î¢ÈíÑÅºÚ",tahoma,arial,simsun,"ËÎÌå";
	font-size: 12px;
	color: #666;
}

a,button {
	cursor: pointer;
}

a {
	outline: 0;
	star: expression(this.onFocus=this.blur());
}

a,a:hover {
	color: #fff;
	text-decoration: none;
}

.m-dwd .btn {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.box:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	content: '.';
}

.box {
	zoom: 1;
}

.m-logo h1 {
	background: url(../images/logo.png) -5px -10px no-repeat scroll;
}


body {
	min-width: 1024px;
	background: #f6f6f6
}

.g-hd {
	padding: 60px 0;
	background: #e8e8e8;
}


.g-hdc,.g-bdc {
	width: 1084px;
	margin: 0 auto;
}

.g-hdc {
	position: relative;
	zoom: 1;
}

.m-logo h1 {
	width: 255px;
	height: 59px;
	overflow: hidden;
	text-indent: -2000px;
}

.m-logo p {
	font-size: 18px;
	color: #222;
	line-height: 50px;
}

.m-ttl {
	margin: 18px 0 38px;
	font-size: 42px;
	color: #008ed2;
	line-height: 60px;
}

.m-dwd {
	width: 440px;
}

.m-dwd .btns,.m-dwd .qr {
	float: left;
}

.m-dwd .btns {
	width: 160px;
}

.m-dwd .qr {
	margin-left: 22px;
	width: 115px;
	height: 115px;
}

.m-dwd .btn {
	display: inline-block;
	width: 160px;
	height: 52px;
	margin-bottom: 9px;
	background: #3b9dd6;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.m-dwd .btn:hover {
	background: #0178bd;
}

.m-dwd .btn strong {
	font-size: 20px;
	font-weight: normal;
}




.m-dwd .desc {
	margin-top: 30px;
}

.m-dwd .pos {
	position: absolute;
	top: -60px;
	right: -30px;
	
	width:676px; height:637px;
	overflow:hidden;
}

.m-dwd .pos img {
	width:676px;
	height:637px;	
}

/*width="676" height="637"*/

.w-wrap {
	position: relative;
	width: 1024px;
	margin: 0 auto;
}












/*buttons*/



#footer {
    /*font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    word-wrap: break-word;
	background:EEEEDD;
	*/
	clear: both;
    overflow: hidden;
	background:#333; 
	
	border-top: 20px solid #3B9DD6; /*#3B9DD6;  333*/	
}

.space20{
	overflow: hidden;
	display:block;
	height:20px;
	width:100%;
}

#wrap {	
	overflow: hidden;
	width: 1000px; margin:20px auto;
}

#xbutton {
    font-size: 15pt;
    margin-bottom: 0;
    margin-top: 10px;
	border: 1px dashed #797979;
	
    padding: 10px 5px;
    	
	line-height:20px;
	/*
	
	
	background:#DCDCBC;
	*/
	
	border-radius:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 10px;
}

#xbutton a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15pt;
    font-weight: bold;
    margin-right: 10px; margin-bottom: 10px;
    padding: 5px 12px;
    text-decoration: none;

	
border-radius:10px;
-moz-border-radius: 5px; 
-webkit-border-radius: 10px;

box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

text-shadow: 0 -1px 1px rgba(0,0,0,0.25);

}
#xbutton a:hover {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC");
}
#xbutton .blue {    background-color: #2DAEBF;}
#xbutton .red {    background-color: #E33100;}
#xbutton .orange {    background-color: #FFB515;}
#xbutton .pink {    background-color: #FF0097;}

#xbutton .white {    background-color: #EEEEEE;    color: #555555;}

#xbutton #xbutton_weibo {
    background: none repeat scroll 0 0 transparent;
    padding: 3px 2px;
    text-shadow: none;
}

#xbutton #xbutton_weibo img {
    border: medium none;
    margin-left: 5px;
    vertical-align: middle;
}

#info{border-top: 1px solid #464646;  /* rgba(255,255,255,.1); */  padding-top: 5px;}

.flinks{ padding-bottom:10px;}

#url_info {
	display: block;
	position: fixed;
	right: 0;
	bottom: 50%;
	width: 100px;
	padding: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:#3b9dd6; /*#E33100;*/
	color: #E8E8E8;
}
